@model NoteViewModel
@using NoteApp.Models
@{
    var NoteModel = ViewData["NoteModel"] as NoteViewModel;
}

<form asp-controller="Notes" asp-action="UpdateNote" enctype="multipart/form-data" method="post">
    <input asp-for="Id" hidden>
    <label for="note-title">Введите название заметки:</label>
    <input asp-for="Title" type="text" id="note-title" value="@NoteModel.Title">

    <label for="note-text">Введите текст заметки:</label>
    <textarea asp-for="Content" id="note-text">@NoteModel.Content</textarea>

    <input asp-for="ImageUpload" placeholder="Выберите файл">
    <button type='submit'>Сохранить заметку</button>
</form>