@model HomeViewModel
@using NoteApp.Models;


<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>BCH notes</title>
		<link rel="stylesheet" type="text/css" href="~/css/home.css">
        <link rel="stylesheet" type="text/css" href="~/css/menu.css">
        <link rel="stylesheet" type="text/css" href="~/css/footer.css">
		<link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
		<link rel="manifest" href="~/favicon/site.webmanifest">
	</head>

	<body>

        <header class="header">
            <nav class="menu">
                <div>
                <ul class="Men1">
                    <P><class="link">НИК ЧЕЛА</class=></P>
                </ul>
            </div>
                <a asp-controller="Home" asp-action="Index" class="logo">
                    <img src="~/images/logo.jpg" width="70" height="70" alt="Пример">
                </a>
                <div>
                <ul class="Men2">
                    <li class="menu-right">
                        <a asp-controller="Account" asp-action="Logout"  class="link2 ">ВЫЙТИ ИЗ АККАУНТА</a>
                    </li>
                </ul>
            </div>
            </nav>
        </header> 

        <div class="Osnova">

            @{
                var HomeModel = ViewData["HomeModel"] as HomeViewModel;
                foreach (var note in HomeModel.Notes)
                {
                    @Html.Raw($"<div class=\"Okna\"><div class=\"foto_block\"><a asp-controller=\"Notes\" asp-action=\"{note.Id}\" method=\"get\"><img src=\"https://avatars.dzeninfra.ru/get-zen_doc/4355093/pub_60c905c28ac99c4838f81b11_60c908958ac99c4838fffefc/scale_2400\" alt=\"Блокнот\" class=\"foto\" id=\"preview\"></a><form class=\"form\"><label class=\"laveli\" for=\"text\">Название твоей заметки:<p>{note.Title}</p></label><input type=\"text\" id=\"text\" name=\"text\"><br></form></div></div>");
                }
            }

        </div>

        <div class="wrapper">
            <footer class="footer">
                <div class="podval">
                    <div class="storon">
                        <div class="left-top">
                            <p class="logo">КОМПания</p>
                            <p class="text">Наша компания предлагает наилучшие услуги в своей сфере, тем самым улучшая качество жизни людей, благодаря нашему сайту. </p>
                        </div>
                        <div class="right-top">
                            <p class="sviz">Как с нами связаться</p>
                            <p class="nomer">-7 4872 35-91-62</p>
                            <p> Тульская область, Тула, проспект Ленина, 125, </p>
                        </div>
                    </div>
                    <div class="linia"></div>
                    <div>
                        <p>© 2023 - .... all time </p>
                    </div>
                </div>
            </footer>
        </div>

	</body>

</html>