@model HomeViewModel
@using NoteApp.Models;
@{ var HomeModel = ViewData["HomeModel"] as HomeViewModel; }


<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>BCH notes</title>
		<link rel="stylesheet" type="text/css" href="~/css/home.css">
        <link rel="stylesheet" type="text/css" href="~/css/menu.css">
        <link rel="stylesheet" type="text/css" href="~/css/footer.css">
		<link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
		<link rel="manifest" href="~/favicon/site.webmanifest">
	</head>

	<body>

        <div class="wrapper">

            <main class="main">

                <header class="header">
                    <nav class="menu">
                        <ul class="Men1">
                            <li class="menu-left"><a asp-controller="Home" asp-action="Index" class="link" >@HomeModel.Username</a></li>
                        </ul>
                        <img src="~/images/logo.png" alt="Лого" class="logo">
                        <ul class="Men2">
                            <li class="menu-right"><a class="button_menu" asp-controller="Home" asp-action="CreateNote">Создать заметку</a></li>
                            <li class="menu-right"><a class="button_menu" asp-controller="Account" asp-action="Logout">Выйти из аккаунта</a></li>
                        </ul>
                    </nav>
                </header>  

            </main>

            <div class="Osnova">

                @{
                    foreach (var note in HomeModel.Notes)
                    {
                        @Html.Raw($"<div class=\"Okna\"><div class=\"foto_block\"><a asp-controller=\"Notes\" asp-action=\"{note.Id}\" method=\"get\"><img src=\"https://avatars.dzeninfra.ru/get-zen_doc/4355093/pub_60c905c28ac99c4838f81b11_60c908958ac99c4838fffefc/scale_2400\" alt=\"Блокнот\" class=\"foto\" id=\"preview\"></a><form class=\"form\"><label class=\"laveli\" for=\"text\">Название твоей заметки:<p>{note.Title}</p></label><input type=\"text\" id=\"text\" name=\"text\"><br></form></div></div>");
                    }
                }

            </div>

            <footer class="footer">
                <div class="podval">
                    <div class="storon">
                        <div class="left-top">
                            <p class="logotip">КОМПАНИЯ</p>
                            <p class="text_podval">Наша компания предлагает наилучшие услуги в своей сфере, тем самым улучшая качество жизни людей, благодаря нашему сайту.</p>
                        </div>
                        <div class="right-top">
                            <p class="sviz">Как с нами связаться</p>
                            <p class="nomer">+7 (495) 000-00-00</p>
                            <p>пр. Ленина, 125, Тула, Тульская обл., 300026</p>
                        </div>
                    </div>
                    <div class="linia"></div>
                    <div>
                        <p class="Dopinfo">© 2023 КОМПАНИЯ ВСН. <a class="INFOrmaith" asp-controller="About" asp-action="Index">ИНФОРМАЦИЯ О НАС!</a></p>
                    </div>
                </div>
            </footer>

        </div>

	</body>

</html>