<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>BCH notes</title>
		<link rel="stylesheet" type="text/css" href="~/css/about.css">
		<link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
		<link rel="manifest" href="~/favicon/site.webmanifest">
	</head>

	<body class="body">

        <div class="kartochki">

            <div class="kartochka" id="cart1">
                <div class="img_fot">
                    <img src="~/images/Nikita.jpg" alt="Nikita">
                    <p class="info_o_nas">
                        Инфа о нас dhfjsdfjkhsdjkfhsdjkfkjsdhfksdhfkjsdhfkjshfkjshdfjkhsdkjfhskdjfhskdjfhsdjkfjkshkfh
                    </p>
                    <div class="inst_vk">
                        <a href=""><img class="foto_vk_inst" src="~/images/Instagram.png" alt="Инстограмм"></a>
                        <a href=""><img class="foto_vk_inst" src="~/images/vk.png" alt="Вконтакте"></a>
                    </div>
                </div>
            </div>

            <div class="kartochka" id="cart2">
                <div class="img_fot">
                    <img src="~/images/Nikita.jpg" alt="Nikita">
                    <p class="info_o_nas">
                        Инфа о нас dhfjsdfjkhsdjkfhsdjkfkjsdhfksdhfkjsdhfkjshfkjshdfjkhsdkjfhskdjfhskdjfhsdjkfjkshkfh
                    </p>
                    <div class="inst_vk">
                        <a href=""><img class="foto_vk_inst" src="~/images/Instagram.png" alt="Инстограмм"></a>
                        <a href=""><img class="foto_vk_inst" src="~/images/vk.png" alt="Вконтакте"></a>
                    </div>
                </div>
            </div>

            <div class="kartochka" id="cart3">
                <div class="img_fot">
                    <img src="~/images/Nikita.jpg" alt="Nikita">
                    <p class="info_o_nas">
                        Инфа о нас dhfjsdfjkhsdjkfhsdjkfkjsdhfksdhfkjsdhfkjshfkjshdfjkhsdkjfhskdjfhskdjfhsdjkfjkshkfh
                    </p>
                    <div class="inst_vk">
                        <a href=""><img class="foto_vk_inst" src="~/images/Instagram.png" alt="Инстограмм"></a>
                        <a href=""><img class="foto_vk_inst" src="~/images/vk.png" alt="Вконтакте"></a>
                    </div>
                </div>
            </div>

        </div>

	</body>

</html>