* {
    margin: 0;
    padding: 0;
}

.body_podval {
    font-family: 'Exo 2', sans-serif;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main_podval {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
    background-color: #05A88D;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.podval {
    margin: 20px 50px;
    color: #FFFFFF;
    font-size: 12px;
}

.storon {
    display: flex;
    justify-content: space-between;
}

.logotip {
    margin-bottom: 15px;
    font-size: 28px;
    color: #F1E67D;
    font-weight: bold;
}

.left-top {
    width: 30%;
}

.sviz {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.nomer {
    color: #F1E67D;
    font-size: 24px;
    font-weight: bold;
}

.linia {
    height: 1px;
    max-width: 100%;
    background-color: #FFFFFF;
    margin: 15px 0px;
}

.Dopinfo {
    font-size: 14px;
    font-weight: bolder;
}

.INFOrmaith {
    color: #F1E67D;
}

.text_podval {
    font-size: 14px;
}
