* {
    margin: 0;
    padding: 0;
}

.body_menu {
    font-family: Montserrat;
}

.menu {
    padding: 0 2.60vw;
    height: 5.21vw;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Men1 {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Men2 {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    text-decoration: none;
    margin: 0 10px;
    font-size: 26px;
    color: black;
    font-weight: bolder;
}

.logo {
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    padding: 1vw 1vw 1vw 10vw;
    border-radius: 50%;
    width: 4%;
    height: auto;
    border-radius: 10vw;
}

.header {
    width: 100%;
    box-sizing: border-box;
}

.button_menu {
    background-color: aliceblue;
    padding: 1vw;
    color: #05A88D;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
