* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;
}

.menu {
    padding: 0 50px;
    height: 100px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Men1 {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Men2 {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    text-decoration: none;
    margin: 0 10px;
}

.link2 {
    text-decoration: none;
    margin: 0 10px;
    color: #05A88D;
}

.logo {
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
    color: #05A88D;
    font-weight: bold;
    width: 70px;
}

.header {
    width: 100%;
    box-sizing: border-box;
}