.centerform 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pole 
{
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

body {
    font-family: Montserrat;
    font-size: 16px;
}
.levo{
    margin-left: auto;
}
.Pravo {

    margin-left: auto;
}