@model SignInViewModel
<form asp-controller="Account" asp-action="SignIn" method="post">
	<input type="hidden" asp-for="ReturnUrl" />
	<input asp-for="Username" placeholder="Username" required>
	<span asp-validation-for="Username"></span>
	<input asp-for="Password" placeholder="Password" required>
	<span asp-validation-for="Password"></span>
	<button type='submit'>Login</button>
	<button asp-controller="Account" asp-action="SignUp" formnovalidate>I don't have an account yet</button>
</form>


<style>
	form {
		margin: 0 auto;
		width: 300px
	}

	input {
		margin-bottom: 3px;
		padding: 10px;
		width: 100%;
		border: 1px solid #CCC
	}

	button {
		padding: 10px
	}
</style>